<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!--外部文件的引入-->
    <div th:replace="../templates/inc/header :: header"></div>

</head>
<body>
<div id="body-wrapper">
    <!-- 左边菜单 -->
    <div th:replace="../templates/inc/left :: left"></div>

    <!--每个页面的核心内容-->
    <div id="main-content">
        <h2>管理指定spu的sku列表</h2>
        <p id="page-intro">What would you like to do?</p>
        <!---------------------在此写内容----------------------------------------------------->
        <input class="button" type="button" value="添加商品" onclick="tiaozhuan()">
        <script>
            function tiaozhuan() {
                window.location.href="/spu/add";
            }
        </script>
        <hr>
        <table>
            <thead>
            <tr>
                <th>商品id</th>
                <th>商品名</th>
                <th>商品标题</th>
                <th>商品状态</th>
                <th>商品品牌</th>
                <th>操作</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="ro:${spuList}" class="alt-row">
                <td th:text="${ro.spu_id}"></td>
                <td th:text="${ro.spu_name}"></td>
                <td th:text="${ro.spu_title}"></td>
                <td >
                    <button th:if="${ro.spu_status==1}" type="button"><font color="red">下架</font></button>
                    <button th:if="${ro.spu_status==0}" type="button" ><font color="green">上架</font></button>
                </td>
                <td >
                    <img th:src="${'http://localhost:8080/img/'+ro.brand.brand_logourl}" width="60px" height="30px">

                </td>
                <td>
                    <!-- Icons -->
                    <a th:href="@{/sku/update(spu_id=${ro.spu_id})}" title="管理spu对应的sku"><img th:src="@{/resource/images/icons/pencil.png}" alt="Edit"></a>
                    <a th:href="@{/sku/update2(spu_id=${ro.spu_id})}" title="管理属性值图片"><img th:src="@{/resource/images/icons/pencil.png}" alt="Edit"></a>
                    <a th:href="@{/spu/delete(spu_id=${ro.spu_id})}" onclick="return confirm('确定删除当前的角色吗')" title="Delete"><img th:src="@{/resource/images/icons/cross.png}" alt="删除"></a>
            </tr>

            </tbody>
        </table>
        <!-------------------------------------------------------------------------->
        <!--页脚-->
        <div th:replace="../templates/inc/footer :: footer"></div>
    </div>
    <!-- End #main-content -->
</div>
</body>
</html>